.mode__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0 24px 35px;
    padding: 0;
}

@media (min-width: 1000px) {
    .mode__list {
        margin: 0 auto 56px;
        width: 260px;
    }
}