.features__line {
    margin: 0 auto 0 24px;
    padding: 0;
    width: 89px;
    border-bottom: 2px solid #CCCCCC;
    display: inline-block;
}

@media (min-width: 700px) {
    .features__line {
        display: none;
    }
}