.carousel__programme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 27px auto 14px;
    width: 160px;
}

@media (min-width: 700px) {
    .carousel__programme {
        margin: 19px auto 21px;
    }
}

@media (min-width: 1000px) {
    .carousel__programme {
        margin: 12px auto 11px;
    }
}
