.products__payment {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

@media (min-width: 900px) {
    .products__payment{
        flex-direction: column;
        min-width: 180px;
    }
}
