.carousel__block {
    position: absolute;
    top: -16px;
    right: 48px;
    margin: 0;
    padding: 0;
}

@media (min-width: 700px) {
    .carousel__block {
        top: -49px;
        right: 0;
        width: 234px;
    }
}