.carousel__cell {
    margin: 0 20px 0 0;
    padding: 0;
    box-sizing: border-box;
    height: 201px;
    width: 264px;
    border-radius: 4px;
    background-color: #fff;
    border: 1.5px solid #00A88E;
    position: absolute;
    top: 56px;
    left: 13%;
    transition: .4s;
    opacity: 0;
    box-sizing: border-box;
}

