.promo__info {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto 0;
}

@media (min-width: 900px) {
    .promo__info {
        width: 180px;
    }
}

@media (min-width: 1200px) {
    .promo__info {
        width: 205px;
    }
}