.buy-tablo {
    margin: 0 12px;
    padding: 12px 17px;
    display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(271.57deg, rgba(0, 168, 142, 0.4) 77.05%, rgba(126, 255, 51, 0.4) 100%), #23D1AE;
    box-sizing: border-box;
    font-family: 'Kaspersky', Arial, Helvetica, sans-serif;
}

@media (min-width: 600px) {
    .buy-tablo {
        padding: 12px 30px;
    }
}