.promo__subtitle-comment {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

@media (min-width: 900px) {
    .promo__subtitle-comment{
        margin: 0;
        width: 100px;
    }
}