.buy-tablo__price-text_type_number {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

@media (min-width: 1000px) {
    .buy-tablo__price-text_type_number {
        font-size: 20px;
        line-height: 28px;
    }
}