.carousel__text {
    display: block;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 236px;
}


@media (min-width: 900px) {
    .carousel__text {
        width: 300px;
    }
}

@media (min-width: 1000px) {
    .carousel__text {
        width: 390px;
    }
}