.mode__text{
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #444444;
    text-align: left;
    margin: 0;
}

@media (min-width: 1000px) {
    .mode__text {
        font-size: 24px;
    }
}