.products____price-text {
    font-weight: 300;
    font-size: 21px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    color: #000;
}

@media (min-width: 600px) {
    .products__price-text  {
        font-size: 28px;
    }
}

@media (min-width: 900px) {
    .products__price-text  {
        font-size: 21px;
    }
}