.carousel__card {
    margin: 0 auto;
    padding: 22px 28px 40px;
    width: 264px;
    border: 1.5px solid #23D1AE;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media (min-width: 700px) {
    .carousel__card {
        padding: 0;
        margin: 45px 23px 40px 2px;
        width: 183px;
        border: none;
    }

    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 60px;
    }
}

@media (min-width: 715px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 67px;
    }
}

@media (min-width: 725px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 100px;
    }
}

@media (min-width: 750px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 130px;
    }
}

@media (min-width: 768px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 145px;
    }
}

@media (min-width: 805px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 180px;
    }
}

@media (min-width: 840px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 210px;
    }
}

@media (min-width: 900px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 280px;
    }
}

@media (min-width: 940px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 320px;
    }
}

@media (min-width: 1000px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 370px;
    }
}

@media (min-width: 1008px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 388px;
    }
}

@media (min-width: 1090px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 460px;
    }
}

@media (min-width: 1108px) {
    .carousel__card:nth-of-type(1) {
        margin: 45px 23px 40px 480px;
    }
}