.mode__text-block {
    background-color: #fff;
    padding: 35px 0 0;
    width: 100%;
    box-sizing: border-box;
}

@media (min-width: 1000px) {
    .mode__text-block {
        padding: 51px 0 0;
        height: 436px;
        margin-top: 68px;
        width: 50%;
    }
}