.input-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 208px;
    cursor: pointer;
    padding: 0;
    margin: 10px 0 0;
}

@media (min-width: 700px) {
    .input-block {
        width: 183px;
    }
}