.input-block__save {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FF3748;
    margin: 24px auto 9px;
}

@media (min-width: 1000px) {
    .input-block__save{
        margin: 12px auto 0;
    }
}