.promo__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    text-align: center;
    margin: 5px 20px 20px;
}

@media (min-width: 900px) {
    .promo__subtitle {
        font-size: 30px;
        line-height: 40px;
        text-align: left;
        margin: 0 40px 70px;
    }
}

@media (min-width: 1150px) {
    .promo__subtitle {
        font-size: 40px;
        min-width: 1100px;
        margin: 0 auto 70px;
    }
}