.features__title {
    margin: 0 24px 32px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.03em;
    color: #1D1D1B;
    text-align: left;
}

@media (min-width: 700px) {
    .features__title {
        font-size: 48px;
        line-height: 52px;
        text-align: center;
        margin: 0 auto 34px;
        width: 700px;
    }
}

@media (min-width: 940px) {
    .features__title {
        width: 100%;
    }
}

@media (min-width: 1000px) {
    .features__title {
        margin: 0 auto 118px;
    }
}