.input-block__checkbox {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background-color: #fff;
    border: 1.5px solid #CCCCCC;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.2s all linear;
    outline: none;
}

.input-block__checkbox:checked {
    border: 7.5px solid #00A88E;
}