.mode__picture {
    display: none;
}

@media (min-width: 1000px) {
    .mode__picture{
        display: block;
        width: 248px;
        height: 504px;
        position: absolute;
        top: 0;
        left: 40%;
    }
}

@media (min-width: 1100px) {
    .mode__picture{
        top: 0;
        left: 44%;
    }
}

@media (min-width: 1400px) {
    .mode__picture{
        top: 0;
        left: 40%;
    }
}