.carousel__conteiner {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 32px 30px;
    box-sizing: border-box;
    position: relative;
}

@media (min-width: 700px) {
    .carousel__conteiner {
        padding: 26px 26px 39px;
        width: 222px;
    }

    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 70px;
        width: 190px;
    }
}

@media (min-width: 715px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 85px;
    }
}

@media (min-width: 725px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 95px;
    }
}

@media (min-width: 735px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 105px;
    }
}

@media (min-width: 745px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 115px;
    }
}

@media (min-width: 755px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 125px;
    }
}

@media (min-width: 768px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 135px;
    }
}

@media (min-width: 775px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 145px;
    }
}

@media (min-width: 790px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 160px;
    }
}

@media (min-width: 805px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 175px;
    }
}

@media (min-width: 820px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 185px;
    }
}

@media (min-width: 830px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 195px;
    }
}

@media (min-width: 840px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 205px;
    }
}

@media (min-width: 850px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 215px;
    }
}

@media (min-width: 860px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 225px;
    }
}

@media (min-width: 870px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 235px;
    }
}

@media (min-width: 880px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 245px;
    }
}

@media (min-width: 890px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 255px;
    }
}

@media (min-width: 900px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 265px;
    }
}

@media (min-width: 910px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 275px;
    }
}

@media (min-width: 920px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 285px;
    }
}

@media (min-width: 930px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 295px;
    }
}

@media (min-width: 940px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 305px;
    }
}

@media (min-width: 950px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 315px;
    }
}

@media (min-width: 960px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 325px;
    }
}

@media (min-width: 970px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 335px;
    }
}

@media (min-width: 980px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 345px;
    }
}

@media (min-width: 990px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 355px;
    }
}

@media (min-width: 1000px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 365px;
        width: 222px;
    }
}

@media (min-width: 1008px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 374px;
    }
}

@media (min-width: 1020px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 385px;
    }
}

@media (min-width: 1030px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 395px;
    }
}

@media (min-width: 1040px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 405px;
    }
}

@media (min-width: 1090px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 425px;
    }
}

@media (min-width: 1100px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 438px;
    }
}

@media (min-width: 1108px) {
    .carousel__conteiner:nth-of-type(1) {
        margin: 0 0 0 445px;
    }
}